:root {
	// font-family: 'Courier New', Courier, monospace;
	font-family: Arial, Helvetica, sans-serif;

	color-scheme: dark light;

	// color: rgba(255, 255, 255, 0.87);
	// background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}


// Light Theme (default)
:root {
	--background1: #FFF;
	--background2: #FFF;
	--layer1: #FFF9;
	--accent1: #A000A0;
	--accent2: #ff00ff;
	--neutral1: rgba(0, 0, 0, .8);
	--text1: rgba(0, 0, 0, 1);
	--text-muted1: #666;
	--text-muted2: #888;

	--outline-width: 3px;

	--home-transition-time: .2s;
}

// Dark Theme
@media(prefers-color-scheme: dark) {
	:root {
		--background1: #242424;
		--background2: #1e1e1e;
		--layer1: #111D;
		--accent1: #800080;
		--accent2: #ff00ff;
		--neutral1: rgba(255, 255, 255, 0.2);
		--text-muted1: #AAA;
		--text-muted2: #888;
		--text1: rgba(255, 255, 255, 0.87);

		--outline-width: 1px;

		--home-transition-time: .2s;
	}
}

:root {
	color: var(--text1);
	background-color: var(--background1);
}

body {
	margin: 0;
	padding: 0;

	min-height: 100vh;
}

* {
	background: none;
	outline: none;
	border: none;
	color: inherit;
}
hr {
	border: var(--outline-width) solid #8886;
}

.serif {
	font-family: 'Courier New', Courier, monospace;
}

.container {
	max-width: 20cm;
	// max-width: 75em;
	margin-inline: auto;
	padding-inline: .5em;
}

.text-center {
	text-align: center;
}

.float-left { float: left; }
.float-right { float: right; }

button, .btn, [role="button"] {
	display: inline-block;
	cursor: pointer;
	padding: .5em;
	border-radius: .5em;
	background: #8883;
	text-align: center;
	margin: .2em;
	text-decoration: none;
}

.pill {
	white-space: nowrap;
	display: inline-block;
	border-radius: .5em;
	padding-inline: .4em;
	margin-inline: .1em;
	margin-block: 1px;

	border: 1.5px solid var(--text-muted1);
}

.w100 {
	width: 100%;
}

.chevron {
	display: inline-block;
	margin-inline: .5em;
	transform: rotate(90deg);
	font-size: 1.5em;
	color: var(--text-muted2);
}
.chevron.up {
	transform: rotate(-90deg);
}

// Platform specific fixes

//// Remove x from input elements
////// clears the ‘X’ from Internet Explorer
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
////// clears the ‘X’ from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
