:root {
  font-family: 'Courier New', Courier, monospace;
  font-size: inherit;
}

input, button {
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #222;
    color: #FFF;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    background: #FFF;
    color: #000;
  }
}
